@tailwind base;
@tailwind components;
@tailwind utilities;

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  @apply bg-gray-300;
}

.ripple-primary {
  @apply bg-green-700;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
